extends layout 
 
block content 
 div(class='container', style='border: 2px solid #2192FF; width: 450px;')
  h1= title 
  br
  div(class='container' style="text-align: center; width: 450px;")

  form(id='flightForm', action="/resource/flights", method="POST") 
    div.form-group 
      div(class="form-group row mb-2")
        label.flightAttr(for='flightName') flight name .
        div(class='col-6' style='width: 250px;')
          input#flightName(type='text', name='flightName') 
    div.form-group 
      div(class="form-group row mb-2")
        label.flightAttr(for='flightType') flight type 
        div(class='col-6' style='width: 250px;')
          input#flightType(type='text', name='flightType')
    div.form-group 
      div(class="form-group row mb-2")
        label.flightAttr(for='price') price  
        div(class='col-6' style='width: 250px;')
        input#price(type='number', name='price') 
    input(type="submit") 
 
  script. 
    document.forms['flightForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json();
        // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });